.container-full {
	padding: 0 15px;
}

.navbar {
	border-bottom: thick solid #FF8005;
}

#logo {
	height: 80px;
	width: 85px;
}

.intro {
	padding-bottom: 25px;
	color: white;
	clear: both;
}

.intro-image {
	height: auto;
	width: 100%;
}

.center-block {
	float: none;
}

.icon-row {
	padding-bottom: 20px;
}

.fa {
	color: #FF8005;
}

.explainer {
	/*padding-top: 20px;
	padding-bottom: 20px;*/
}

.explainer-even {
	color: white;
	background-color: #FF8005;
}

.image-description {
	margin-top: 20%;
}

.contact {
	border-bottom: thin solid #FF8005;
	padding-bottom: 10px;
	padding-top: 10px;
}

.icon {
	padding-top: 20px;
}

.callpage {
	padding-top: 20px;
	padding-bottom: 20px;
}

.download-badge {
	padding-top: 20px;
}