.container-full {
	padding: 0 15px;
}

#logo {
	height: 200px;
	width: 150px;
}

.intro {
	padding-bottom: 25px;
	color: white;
}

.intro-image {
	height: auto;
	width: 100%;
}

.center-block {
	float: none;
}

.fa {
	color: #FF8005;
}